ruby:
  form ||= nil
  attribute ||= nil
  value ||= value
  html_class ||= 'form-control'


= wcms_component "forms/tag_input",
  form: form,
  attribute: :related_object_tags_string,
  value: value,
  html_class: html_class
