.person-lookup {
  .tt-suggestion, .tt-empty-message {
    .affiliations {
      color: #999;
      font-size: 12px;
    }
    .image {
      height: 30px;
      width: 26px;
      margin-right: 10px;
      margin-left: -5px;
      display: inline-block;
      vertical-align: middle;
      background-size: cover;
      background-position: center center;
      background-color: #ddd;
    }
  }

  .tt-suggestion.tt-cursor {
    .affiliations {
      color: #fff;
    }
  }
}
